/* DM sans font */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,600;1,300&family=DM+Sans:wght@500&family=Hind+Siliguri:wght@500&family=Luxurious+Roman&family=Poppins:wght@500&family=Rubik:wght@600&family=Ubuntu:wght@500&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  background: #f1ecec;
  margin: 0;
}
/*------------------
 header section 
 -------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  border-left: 30px;
  border-right: 20px;
}
.header-div1 h3 {
  font-size: 35px;
  color: rgb(17, 17, 17);
}
.header-div2 a {
  text-decoration: none;
  padding-right: 35px;
  font-size: 25px;
  color: rgba(21, 21, 71, 0.808);
  font-weight: 600;
}

/* -----------------
main section 
-----------------*/

/* journey influence with camera photo */
.journey-camera{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 100px;

}
.journey{
width: 580px;
height: 270px;
margin-top:100px;
}
.journey h1{
    font-size: 4em;
    color: rgba(26, 24, 24, 0.795);
}
.journey p{
    font-size: 1.6em;
}
.journey a{
    font-size: 1.8em;
    text-decoration: none;
    font-weight: 800;
    background-color: tomato;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.camera{
    height: 400px;
    width: 400px;
    padding: 20px;
    transition:width 5s linear, height 5s linear, transform 5s linear;
}
.camera :hover{
    transform: scale(1.2) rotate(30deg);
    transition: transform 3s linear;
}

/* 
---------------
socila site  
------------
*/
.social-site{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.sites{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.site{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* products */
.product-heading{
    font-size: 2em;
    text-align: center;
}
.products{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
}
.product{
    padding: 15px;
    box-shadow: 15px 15px 80px rgb(218, 199, 199);
}
.product img{
    width: 300px;
    height: 250px;
}
.product h3{
    font-size: 2em;
    font-weight: 500;
}
.product h2{
    font-size: 1.4em;
    font-weight: 400;
}

.product p{
    font-size: 1.5em;
}
.see-more{
    background-color: rgb(240, 234, 233);
    color: tomato;
    font-size: 2em;
    text-decoration: none;
    text-align: right;
    margin-left: 1200px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
}

/* bonus part */

.bonus{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin-left: 80px;
    margin-top: 80px;
    margin-right: 100px;
}
.part{
    width: 50%;
    margin-right: 40px;
}
.part h1{
    font-size: 2.7em;
}
.part p{
    font-size: 1.5em;
}
.part a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    color: rgb(49, 134, 231);
}

/* footer part */
footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.footer h1{

    font-size: 2.5em;
}
.footer-icon{
    display: flex;
    justify-content: center;
}
.icon{
    font-size: 2em;
    padding-right: 25px;
}

/* media query making my web site responsive */

@media only screen and (max-width:500px) {
    .journey-camera{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 400px;

       
    }
    .journey{
        width: 400px;
    }
    .bonus{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 400px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .sites{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .journey-camera, .bonus{
        flex-direction: column;
    }
    .products{
        flex-direction: column;

    }
    .sites{
        flex-direction: column;
    }
    .header, .footer{
        width: 400px;
    }
    .container{
        width: 100%;
        justify-content: center;
    }
}
